* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.background {
    background-color: #000000;
    color: white;
    text-align: center;
    padding-top: 25px;
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 100%;
    /* Set up positioning */
    position: fixed;
}

.display-title{
    font-size: 50px;
    display: none; 
}

.display-turn{
    margin: 50px;
    font-size: 2em;
}

.player-style{
    display: inline-block;
    font-weight: bold;
    font-size: 65px;
}

.container{
    margin: 6em auto 75px; 
    transform: scale(1.3);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
    padding: 0;
}

@media(max-width: 500px){
    .container{
        transform: scale(0.9);
        margin: 1em auto 75px; 
    }
    .display-turn{
        margin: 50px;
        font-size: 1.3em;
    }   
}

.display-announce {
    position: relative;    
}

.tile{
    border-width: medium;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
}

.top-left, .top-middle, .top-right, .middle-left, .middle-middle, .middle-right{
    border-bottom: solid;
}

.top-left, .top-middle, .middle-left, .middle-middle, .bottom-left, .bottom-middle {
    border-right: solid;
}

.control{
    margin: 0px;
}

.reset{
    padding: 8px;
    margin: 12px;
    background-color: rgb(54, 15, 184);
    background-color: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transform: scale(2.0);
}

.reset:hover{
    transform: scale(2.1);
    background-color: #880ED4;
}

