.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.row {
    display: flex;
}

.cell {
    cursor: pointer;
    border: 5px solid black;
    width: 100px;
    height: 100px;
}

.row:first-child .cell{
    border-top: none;
}

.row:last-child .cell {
    border-bottom: none;
}

.cell:first-child {
    border-left: none;
}

.cell:last-child {
    border-right: none;
}

