@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

:root {
    --background-color: #210124;
    --color1: orange;
    --color2: #92140C;
    --color3: #00eaff;
    --borderColor: #490c2f;
    --buttonColor: #e0f2e9;
}

body {
    margin: 0;
    font-family: 'Kanit', sans-serif;
    background-color: var(--background-color);
}

.tictactoe {
    margin: 5em;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.gray { /*when a game state has been decided, gray will be applied to board*/
    pointer-events: none;
    opacity: 0.1;
    text-shadow: #210124;
}

.row {
    display: flex;
}

.cell {
    cursor: pointer;
    border: 5px solid var(--borderColor);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-duration: 0.5s;
    animation-name: pop;
}

.symbol {
    justify-content: center;
    align-items: center;
    font-size: 6em;
}

.X {
    color: var(--color1);
}

.O {
    color: var(--color1);
}

.taken {
    animation: pop 0.3s;
}

.scoreboard {
    display: flex;
    color: var(--color1);
    justify-content: center;
    align-items: center;
    width: 25%;
    margin: 0 auto;
}

.score-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.reset-btn {
    position: absolute;
    right: 32em;
    top: 31em;
    padding: 8px 16px;
    display: inline-block;
    color: #333;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

.reset-btn:hover {
    background-color: #340238;
}

.WinMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: orange;
    font-size: 5em;
    z-index: 1000;
}



@keyframes pop-in {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}
  
@keyframes pop {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.row:first-child .cell{
    border-top: none;
}

.row:last-child .cell {
    border-bottom: none;
}

.cell:first-child {
    border-left: none;
}

.cell:last-child {
    border-right: none;
}

